@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<FamilyFinances.Models.PurchaseCategory>

@{
    ViewData["Title"] = "Purchase Category";
}

    <h1>@Localizer["Purchase Category"]</h1>

<p>
    <a asp-action="Create">@Localizer["Add"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
